# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# !conda install -c conda-forge gmaps
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
g_key

'AIzaSyD-boXPwRdVVbHB32FRptRfKV84aVgbgsg'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data_df = pd.read_csv('../WeatherPy/city_weather_data.csv')
data_df.head()

,Unnamed: 0,city,country,lat,long,temperature,humidity,cloudiness,wind speed
0,0,luanda,ao,-8.814656,13.230176,75.200,78,75,2.1
1,1,hobart,au,-42.882138,147.327195,47.102,71,90,4.1
2,2,yellowknife,ca,62.453972,-114.371789,59.756,67,20,4.1
3,3,los llanos de aridane,es,28.618352,-17.899857,67.694,78,75,6.2
4,4,barrow,us,36.072777,-95.919503,79.268,74,20,5.1

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = []
weights = []
for row in data_df.iterrows(): 
    huh = (row[1]['lat'],row[1]['long'])
    weight = (row[1]['humidity'])
    locations.append(huh)
    weights.append(weight)

In [4]:
gmaps.configure(api_key=g_key)
m = gmaps.Map()
m.add_layer(gmaps.WeightedHeatmap(locations=locations,weights=weights)) # format to see map better
m

Map(configuration={'api_key': 'AIzaSyD-boXPwRdVVbHB32FRptRfKV84aVgbgsg'}, data_bounds=[(-66.9023955506726, -17â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:

max_temp = input("What is the hottest you can go? ")
min_temp = input("How cold is too cold? ") 
max_temp = float(max_temp)
min_temp = float(min_temp)
max_wind_speed = 10
cloudiness = 0

What is the hottest you can go? 80
How cold is too cold? 50

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
choice_locations = data_df.loc[(data_df['temperature'] <= max_temp) & (data_df['temperature']>= min_temp) & (data_df['wind speed'] <= max_wind_speed) & (data_df['cloudiness'] == cloudiness)]
choice_locations = choice_locations.reset_index()
choice_locations

,index,Unnamed: 0,city,country,lat,long,temperature,humidity,cloudiness,wind speed
0,12,12,mareeba,au,-17.001937,145.438855,69.728,65,0,0.89
1,25,25,srednekolymsk,ru,67.437307,153.728674,60.170,38,0,6.07
2,29,29,lompoc,us,34.639150,-120.457941,52.196,87,0,1.50
3,43,43,constitucion,mx,29.919940,-106.796062,69.278,61,0,2.69
4,49,49,cape town,za,-33.924869,18.424055,59.342,100,0,1.00

In [10]:
i = 3
# hotel_url = f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=hotel&inputtype=textquery&fields=name,rating,formatted_address,geometry&locationbias=circle:5000@{choice_locations['lat'][i]},{choice_locations['long'][i]}&key={g_key}"
# hotel_irl = f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=hotel&inputtype=textquery&fields=formatted_address,name,rating,geometry&locationbias=circle:5000@{choice_locations['lat'][i]},{choice_locations['long'][i]}&key={g_key}"
# response = requests.get(hotel_url)

# hotels = response.json()

# name = hotels['candidates'][0]['name']
# country = hotels['candidates'][0]['formatted_address'].split(',')[-1]

# city = hotels['candidates'][0]['formatted_address'].split(',')[-3]

print(choice_locations['lat'][i])
print(choice_locations['long'][i])

29.919940399999998
-106.79606240000001

In [162]:
# geocoordinates
target_coordinates = "-28.95, -84.25"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
response.json()

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [15]:
counter = 0

for row in choice_locations.iterrows():    
    hotel_url = f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=hotel&inputtype=textquery&fields=name,rating,formatted_address&locationbias=circle:5000@{row[1]['lat']},{row[1]['long']}&key={g_key}"
    try:
        response = requests.get(hotel_url)
    
        hotels = response.json()
        print(hotels)
        
        name = hotels['candidates'][0]['name']
        country = hotels['candidates'][0]['formatted_address'].split(',')[-1]
        city = hotels['candidates'][0]['formatted_address'].split(',')[-3]
        print(city+', '+Country)
    except:
        counter = counter + 1

{'candidates': [{'formatted_address': '19 Byrnes St, Mareeba QLD 4880, Australia', 'name': 'Taj on Byrnes Mareeba Luxury Accommodation', 'rating': 4.9}], 'status': 'OK'}
{'candidates': [{'formatted_address': '2625 Cross Springs Dr, Cumming, GA 30041, United States', 'name': 'Springmonte Club House', 'rating': 4.6}], 'status': 'OK'}
{'candidates': [{'formatted_address': '326 Bell St, Los Alamos, CA 93440, United States', 'name': 'Victorian Mansion Bed & Breakfast', 'rating': 4.9}], 'status': 'OK'}
{'candidates': [{'formatted_address': 'MÃ©xico 10, Benito JuÃ¡rez, Chih., Mexico', 'name': 'Hotel Las Fuentes', 'rating': 0}], 'status': 'OK'}
{'candidates': [{'formatted_address': '31 Francolin Rd, Camps Bay, Cape Town, 8005, South Africa', 'name': 'Atlanticview Cape Town Boutique Hotel', 'rating': 4.9}], 'status': 'OK'}

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer on top of heat map


# Display figure