# VacationPy

In [1]:
## ensures gmaps is properly installed and enabled
# !conda install -c conda-forge gmaps
# !jupyter nbextension enable --py gmaps

In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

'AIzaSyD-boXPwRdVVbHB32FRptRfKV84aVgbgsg'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# import city-weather data csv
data_df = pd.read_csv('../WeatherPy/city_weather_data.csv')
data_df.head()

,Unnamed: 0,city,country,lat,long,temperature,humidity,cloudiness,wind speed
0,0,sinnamary,gf,5.374671,-52.954599,81.464,79,33,4.03
1,1,henties bay,na,-22.113496,14.283204,68.000,27,0,3.81
2,2,puerto ayacucho,ve,5.661472,-67.582774,84.200,74,40,4.10
3,3,geraldton,au,-28.779653,114.614445,59.000,87,40,1.50
4,4,kodinsk,ru,58.607673,99.177909,57.056,95,14,0.59

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# gets input data for heatmap from city-weather data set
locations = []
weights = []
for row in data_df.iterrows(): 
    huh = (row[1]['lat'],row[1]['long'])
    weight = (row[1]['humidity'])
    locations.append(huh)
    weights.append(weight)

In [18]:
# configure gmaps - add heat map layer, and launch map.
gmaps.configure(api_key=g_key)
m = gmaps.Map()
m.add_layer(gmaps.WeightedHeatmap(locations=locations,weights=weights)) # format to see map better
m.max_intensity = max(weights)

m

Map(configuration={'api_key': 'AIzaSyD-boXPwRdVVbHB32FRptRfKV84aVgbgsg'}, data_bounds=[(-48.65917017530504, -1â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Creates parameters for choice locations
max_temp = input("What is the hottest you can go? ")
min_temp = input("How cold is too cold? ") 
max_temp = float(max_temp)
min_temp = float(min_temp)
max_wind_speed = 10
cloudiness = 0

What is the hottest you can go? 80
How cold is too cold? 55

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Filters by given parameters to select Choice Locations
choice_locations = data_df.loc[(data_df['temperature'] <= max_temp) & (data_df['temperature']>= min_temp) & (data_df['wind speed'] <= max_wind_speed) & (data_df['cloudiness'] == cloudiness)]
choice_locations = choice_locations.reset_index()
choice_locations

,index,Unnamed: 0,city,country,lat,long,temperature,humidity,cloudiness,wind speed
0,1,1,henties bay,na,-22.113496,14.283204,68.000,27,0,3.81
1,6,6,saldanha,za,-33.027698,17.917631,57.200,82,0,1.00
2,9,9,genhe,cn,50.780344,121.520388,56.642,70,0,1.23
3,17,17,kalaleh,ir,37.383302,55.502559,75.200,69,0,1.00
4,28,28,baykit,ru,61.683367,96.380620,56.534,65,0,0.32
5,32,32,port alfred,za,-33.586407,26.885145,55.004,91,0,1.79
6,46,46,tarudant,ma,30.472713,-8.874876,69.800,83,0,0.88
7,89,89,ambilobe,mg,-13.202607,49.051409,67.334,82,0,1.14
8,106,106,cecava,ba,44.690637,17.732999,69.800,68,0,1.00
9,111,111,saint-philippe,re,-21.303576,55.735613,60.818,59,0,3.10
10,112,112,karamay,cn,45.579888,84.889207,66.632,37,0,1.72
11,114,114,lagoa,pt,37.135618,-8.451436,77.090,56,0,5.22
12,125,125,san quintin,mx,30.560877,-115.937930,70.808,55,0,5.74
13,135,135,cap malheureux,mu,-19.986874,57.612742,66.992,81,0,1.34
14,143,143,mrirt,ma,33.162714,-5.566979,78.872,43,0,1.27
15,147,147,trairi,br,-3.274268,-39.265065,77.306,78,0,3.74
16,148,148,senanga,zm,-16.117824,23.296017,57.074,36,0,2.84
17,155,155,yarovoye,ru,52.932275,78.573113,65.786,74,0,4.20
18,164,164,port elizabeth,za,-33.960837,25.602242,59.000,87,0,4.60
19,189,189,cuamba,mz,-14.800088,36.533773,61.916,77,0,4.34
20,190,190,shubarshi,kz,48.582771,57.184934,60.026,54,0,3.61
21,191,191,touros,br,-5.196167,-35.463538,78.800,78,0,5.10
22,196,196,tiznit,ma,29.693392,-9.732157,70.844,73,0,0.58
23,208,208,suntar,ru,62.154919,117.633134,68.612,68,0,0.91
24,213,213,jiuquan,cn,39.732870,98.494548,60.764,53,0,1.63
25,219,219,carnarvon,au,-24.887747,113.662183,55.400,100,0,3.60
26,222,222,guerrero negro,mx,27.959176,-114.056646,76.550,47,0,7.15
27,232,232,el mahalla el kubra,eg,30.969671,31.168083,67.010,87,0,2.54
28,234,234,boyarka,ua,50.317117,30.298167,67.208,77,0,2.00
29,237,237,tubruq,ly,32.068176,23.941751,73.922,86,0,7.51
30,241,241,lithakia,gr,37.719264,20.828394,71.600,88,0,1.69
31,249,249,fayaoue,nc,-20.653938,166.540153,69.656,58,0,7.17
32,258,258,shahrud,ir,36.406224,55.016269,69.152,52,0,3.36
33,261,261,awjilah,ly,29.090585,21.332197,79.628,39,0,6.52
34,263,263,sao desiderio,br,-12.357631,-44.977287,76.622,44,0,1.78
35,289,289,taltal,cl,-25.310199,-69.861383,61.682,26,0,3.30
36,293,293,paita,pe,-5.093849,-81.096217,69.746,69,0,7.60
37,322,322,mashhad,ir,36.260462,59.616755,71.600,21,0,2.10
38,327,327,presidencia roque saenz pena,ar,-26.800443,-60.431235,60.602,49,0,3.63
39,331,331,udachnyy,ru,66.407021,112.297781,69.800,40,0,2.00
40,333,333,luderitz,na,-26.642038,15.163908,69.800,21,0,3.60
41,364,364,gwembe,zm,-16.500257,27.590672,56.408,59,0,0.82
42,376,376,vallenar,cl,-28.575795,-70.757101,73.382,20,0,2.12
43,388,388,carutapera,br,-1.209794,-46.022953,77.792,85,0,2.45
44,392,392,walvis bay,na,-22.958408,14.505751,68.000,27,0,5.32
45,395,395,korla,cn,41.725891,86.174633,71.816,21,0,4.99
46,400,400,irbil,iq,36.190073,43.993030,78.800,24,0,1.50
47,404,404,damietta,eg,31.417539,31.814443,78.800,74,0,5.10
48,413,413,besuki,id,-7.752779,113.697829,77.144,71,0,1.72
49,422,422,karacabey,tr,40.216037,28.359000,69.800,60,0,3.10
50,433,433,rundu,na,-17.925330,19.753215,62.600,25,0,2.10
51,434,434,chagda,ru,58.751778,130.616394,62.222,59,0,1.39
52,438,438,aiquile,bo,-18.205168,-65.181549,72.482,20,0,4.68
53,445,445,mindelheim,de,48.046174,10.494884,62.870,77,0,4.10
54,455,455,el faiyum,eg,29.308402,30.842850,75.002,41,0,4.38
55,460,460,okhotsk,ru,59.358460,143.203491,57.884,54,0,6.65

In [8]:
# initializes variables for fields of hotel data search
counter = 0
name = []
country = []
city = []
lats = []
lngs = []
rating = []

# this loop collects data for hotel search
for row in choice_locations.iterrows():    
    hotel_url = f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=hotel&inputtype=textquery&fields=geometry,name,rating,formatted_address&locationbias=circle:5000@{row[1]['lat']},{row[1]['long']}&key={g_key}"
    
    # attempts find hotels and get desired fields from places api
    try:
        response = requests.get(hotel_url)
    
        hotels = response.json()
        
        hname = hotels['candidates'][0]['name']
        hcountry = hotels['candidates'][0]['formatted_address'].split(',')[-1]
        hcity = hotels['candidates'][0]['formatted_address'].split(',')[-3]
        hrating = hotels['candidates'][0]['rating']
        hlat = hotels['candidates'][0]['geometry']['location']['lat']
        hlng = hotels['candidates'][0]['geometry']['location']['lng']
        
        name.append(hname)
        country.append(hcountry)
        city.append(hcity)
        rating.append(hrating)
        
        lats.append(hlat)
        lngs.append(hlng)

    except:
        counter = counter + 1

In [9]:
# creates hotel dataframe

hotel_df = pd.DataFrame({'Hotel Name':name, 'Country':country,'City':city,'Lat':lats,'Lng':lngs})
hotel_df.head()

          Hotel Name        Country                City        Lat         Lng
0        Desert Rose        Namibia          Elf Street -22.113916   14.272846
1     Blue Bay Lodge   South Africa            Saldanha -32.995413   17.973140
2  Forest Snow Hotel          China               Genhe  50.780970  121.544030
3         ØªØ±ÙƒÙ…Ù† ÙŠÙˆØ±Øª           Iran  Tamer-e Qarah Quzi  37.494327   55.495385
4         Gostinitsa         648360    Krasnoyarsk Krai  61.681531   96.362260

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer on top of heat map
marker_locations = []
marker_labels = []

# extracts data from hotel data frame to create labels
for row in hotel_df.iterrows():
    marker_loc = row[1]['Lat'],row[1]['Lng']
    marker_locations.append(marker_loc)
    
    marker_label = f'''
    {row[1]['Hotel Name']} - {row[1]['City']}, {row[1]['Country']}
    '''
    marker_labels.append(marker_label)

In [19]:
# add marker layer
hotel_marker = gmaps.marker_layer(marker_locations,info_box_content = marker_labels)
m.add_layer(hotel_marker)

# Display figure
m

Map(configuration={'api_key': 'AIzaSyD-boXPwRdVVbHB32FRptRfKV84aVgbgsg'}, data_bounds=[(-48.65917017530504, -1â€¦